body {
    height: 100vh;
}

#content-container {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

#sidebar-container {
    grid-column: 1 / 2;
    background: blue;
    border: 1px solid black;
    height: 100%;
}

#project-view-container {
    grid-column: 2 / 10;
    height: 100%;
    background: red;
}
